nav button {
    cursor: pointer;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

nav .btn {
    margin: 5px;  /* Optional: Adds some spacing between the buttons */
}

nav .btn.active-tab {
    background-color: #00222D;
}

/* Couldn't figure out why fixedHeader styling wasn't working (probably something dumb), so sticking with this for now*/
.fixedHeader-floating thead th {
    background-color: #222222;
    color: #fff;
}
