nav button {
    cursor: pointer;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

nav .btn {
    margin: 5px;  /* Optional: Adds some spacing between the buttons */
}

nav .btn.active-tab {
    background-color: #00222D;
}


